#стандартное наполнение
.DS_Store
.idea/
.idea/*
.vscode
*.sublime*
npm-debug.*
#дополнительно
project/     
node_modules/
package-lock.json
*.psd
img_samples

#возможно не нужно заливать #src
#src/css/*
